html {
	height: 100%;
}
body {
	height: 100%;
	display: flex;
	flex-direction: column;
	font-family: Roboto;

}
header {
	height: 6.25rem;
	background-color: #FFDE59;
	display: flex;
	align-items: center;
}
footer {
	height: 6.25rem;
	display: flex;
	align-items: center;
	background-color: #131A35;
}
main {
	flex: 1 0;
}
.header_container {
	margin: 0 15rem;
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	padding: 0.5rem;
}
.header_network {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2.5rem;
}
.header_login_btn {
	font-size: 18px;
	color: #000000;
}

header input{
	width: 100%;
	margin: 0 1.875rem;
	padding: 0.313rem 0.625rem;
	background-color: #c4c4c4;
	border: none;
	border-radius: 0.625rem;
}

.wrapper {
	max-width: 90rem;
	margin: 0 auto;
	margin-top: 11.063rem;
	margin-bottom: 9.125rem;
}

.main_wrapper {
	display: flex; 
	justify-content: space-between;
	text-align: center;
	margin-bottom: 9.125rem;
}

.main_content {
	width: 15.625rem;
	height: 11.25rem;
	background-color: #131A35;
}

.main_catalog {
	padding-bottom: 3.125rem;
	font-size: 36px;
	line-height: 42px;
	color: #131A35;
}

.main_text {
	text-align: right;
	font-size: 24px;
	color: #000;
}

.footer_container {
	margin: 0 15rem;
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	padding: 0.5rem;
}

.footer_network {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2.5rem;
	padding: 0.188rem;
}

.footer_text {
	text-align: center;
	color: #FFDE59;
	font-size: 24px;
}




